################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MapAUD/x64/Debug
/x64/Debug
/PlayerEngine/.vs/PlayerEngine
/PlayerEngine/PlayerEngine/x64/Debug
/PlayerEngine/x64/Debug

/PlayerEngine/Debug
/PlayerEngine/PlayerEngine/Debug/PlayerEngine.tlog
*.obj
/PlayerEngine/PlayerEngine/Debug/PlayerEngine.exe.recipe
/PlayerEngine/PlayerEngine/Debug/PlayerEngine.ilk
/PlayerEngine/PlayerEngine/Debug/vc143.idb
/PlayerEngine/PlayerEngine/Debug/vc143.pdb
/ServerEngine/ServerEngine/x64/Debug/ServerEngine.tlog
/ServerEngine
/ServerEngine/.vs/ServerEngine
/ServerEngine/.vs/ServerEngine/FileContentIndex
/ServerEngine/.vs/ServerEngine/FileContentIndex/a50e5848-6914-4efc-b6f8-768a4e2e8df6.vsidx
/ServerEngine/.vs/ServerEngine/v17
/ServerEngine/.vs/ServerEngine/v17/.suo
/ServerEngine/.vs/ServerEngine/v17/Browse.VC.db
/ServerEngine/.vs/ServerEngine/v17/DocumentLayout.backup.json
/ServerEngine/.vs/ServerEngine/v17/DocumentLayout.json
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH/4046d2f8e7b2b379
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH/4046d2f8e7b2b379/TSERVERENGINE.ipch
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH/a573943c9306199d
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH/a573943c9306199d/PLAYER.ipch
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH/e31a69db031f8584
/ServerEngine/.vs/ServerEngine/v17/ipch/AutoPCH/e31a69db031f8584/LOGGER.ipch
/ServerEngine/.vs/ServerEngine/v17/Solution.VC.db
/ServerEngine/ServerEngine/x64/Debug
/ServerEngine/ServerEngine/x64/Debug/ServerEngine.exe.recipe
/ServerEngine/ServerEngine/x64/Debug/ServerEngine.ilk
/ServerEngine/ServerEngine/x64/Debug/ServerEngine.log
/ServerEngine/ServerEngine/x64/Debug/vc143.idb
/ServerEngine/ServerEngine/x64/Debug/vc143.pdb
/ServerEngine/x64/Debug
/ServerEngine/x64/Debug/ServerEngine.exe
/ServerEngine/x64/Debug/ServerEngine.pdb
